
.emp-prop-div {
    display: flex;
    width: 90%;
    background-color: #dddddd30;
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    align-items: center;
    transition: .3s ease;
    margin-bottom: 10px;

    .s {
        width: 90%;
        .rowEm {
            display: flex;
            align-items: center;
           
            p {
                margin-left: 15px;
            }
        }
    }

    .eyebtnnx {
        padding: 10px;
        border: none;
        border-radius: 50%;
        background-color: #75E6FF;
        color: white;
    }

    h4 {
        font-size: 19px;
        font-weight: 500;
    }
    
    p {
        font-size: 13px;
        margin-top: -8px;
    }
}

.emp-prop-div:hover {
    background-color: #1d4354;
    color: white;
}

@media (max-width: 550px) {
    
    .emp-prop-div {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h4 {
            text-align: start;
        }

        .s {
            .rowEm{
                display: flex;
                align-items: flex-start;
                margin-left: -12px;
                flex-direction: column;
            }
        }
        .eyebtnnx{
            margin-left: 0;
        }
    }
}




