.work-div-box-em {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;

   
}

.ltpff {
   display: flex;
   justify-content: space-between;
   width: 100%;
}
.work-div-box-em {
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: 6px;
    border-radius: 10px;
}

.work-div-box-em .left-text {
    display: flex;
    align-items: center;
    margin-top: -30px;
}
.work-div-box-em .left-text p {
    margin-left: 40px;
}
.work-div-box-em button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

