
.emp-jobs-div {
    display: flex;
    width: 90%;
    background-color: #dddddd42;
    border-radius: 10px;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
    align-items: center;
    transition: .3s ease;
    margin-bottom: 20px;
}

.emp-jobs-div:hover {
    background-color: #1d4354;
    color: white;
}

.emp-jobs-div .s {
    width: 85%;
    display: flex;
    flex-direction: column;
}

.rowEm {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: flex-start;
}



.emp-jobs-div .eyebtnn  {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #75E6FF;
    color: white;
    margin-right: 10px;
    transition: .3s ease;
}

.emp-jobs-div .eyebtnn:hover {
    background-color: white;
    color: #75E6FF;
}

.emp-jobs-div  .savedbtnnn  {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #3ccf4e;;
    color: white;
    margin-right: 10px;
    transition: .3s ease;
}

.emp-jobs-div  .savedbtnnn:hover {
    color: #3ccf4e;
    background-color: white;
}

.emp-jobs-div h4 {
    font-size: 19px;
    font-weight: 500;
}

.emp-jobs-div p {
    font-size: 13px;
    margin-top: -8px;
    width: 95%;
}
.eyebtnnn {
    border: none;
    background-color: #75E6FF;
    border-radius: 50%;
    margin-right: 5px;
    padding: 10px;
    transition: .3s all;
    color:white;
}