
.employeeConnects {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: hidden;

  div {
    width: 100%;

    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 2rem;
      font-weight: 500;
    }
  }

  .connect-box {
    width: 100%;
    display: flex;
    justify-content: center;

    

    .right {
      width: 80%;
      border-radius: 10px;
      background-color: white;
    }
  }

  
  .hed {
    padding: 20px;
    margin-left: 0px;
    border-bottom: 1px solid rgb(232, 232, 232);
    button {
      border:  none;
      width: 170px;
      margin-top: 10px;
      padding: 10px 15px;
      border-radius: 5px;
      margin-left: 10px;
    }
  }

  .row {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
    .buy-box {
      width: 300px;
      background-color: #1d4354;
      margin-left: 25px;
      border-radius: 10px;
      margin-top: 20px;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 20px;
      p {
        width: 100%;
        margin-bottom: -2px;
      }
      h3 {
        width: 100%;
        margin-top: 20px;
      }
      button {
        width: 100%;
        border: none;
        padding: 10px 15px;
        margin-bottom: 5px;
        border-radius: 5px;
        color: white;
        background-color: #3ccf4e;
      }
    }
  }

  .row-1 {
    display: flex;
    
    .history-box {
      display: flex;
      padding: 10px;
      width: 100%;
      table {
        width: 100%;

        .tr-row {
      }
        th {
          margin-left: 10px;
        }

        td {
          margin-left: 10px;
          padding: 5px;
        }
      }
    }
  }
}

.history-box {
  display: flex;
  padding: 10px;
  width: 100%;
  table {
    width: 100%;

    .tr-row {
  }
    th {
      margin-left: 10px;
    }

    td {
      margin-left: 10px;
      padding: 5px;
    }
  }
}

@media (max-width:539px) {
  .employeeConnects {

    .connect-box{
      .right {
        width: 100%;
      }
    }
    .hed {
      button {
        width: 100%;
      }
    }

    .row {
      .buy-box {
        width: 90%;
      }
    }
  }
}