.employeeHome {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.employeehome-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.employeehome-div .left {
  width: 70%;
  min-height: 400px;
  border-radius: 10px;
}

.employeehome-div .left .ltop {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.employeehome-div .left .lbottom {
  width: 100%;
  min-height: 400px;
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
}

.employeehome-div .right {
  width: 25%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.employeehome-div .right .r-top {
  width: 100%;
  min-height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.employeehome-div .right .r-bottom {
  width: 100%;
  min-height: 200px;
  margin-top: 40px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}



.job-box-emp {
    width: 100%;
    min-height: 500px;
    background-color: white;
    border-radius: 10px;
  }
  
  
  
  .job-box-emp .top h4 {
    padding: 20px;
    padding-left: 50px;
    font-weight: 600;
    color: rgb(102, 102, 102);
    border-bottom: 2px solid rgba(208, 208, 208, 0.667);
  }
  
  .job-box-emp .bottom form {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
  }
  
  .job-box-emp .bottom input {
    width: 90%;
    border: 1px solid #aaaa;
    padding: 10px;
    border-radius: 5px;
  }
  
  .job-box-emp .bottom textarea {
    width: 90%;
    border: 1px solid #aaaa;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
  }
  
.job-box-emp .bottom .row {
    display: flex;
    width: 90%;
    margin: 10px 0;
  }
  
  
  
  .job-box-emp .bottom .row1 {
    display: flex;
    width: 100%;
    margin-left: 100px;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  
  .job-box-emp .bottom .row1 p {
    margin-right: 10px;
    background-color: rgba(170, 170, 170, 0.42);
    padding: 10px;
    border-radius: 10px;
  }
  
  .job-box-emp .bottom .row select {
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin-right: 10px;
  }
  
  .job-box-emp .bottom .row input {
    width: 160px;
    margin-right: 10px;
    height: 45px;
  }
  
  .job-box-emp .bottom .row button {
    margin-left: 0px;
  }
  
  .job-box-emp .bottom button {
    border: none;
    background-color: #3ccf4e;
    padding: 10px 15px;
    border-radius: 5px;
    width: 150px;
    margin-left: 50px;
    color: white;
    margin-right: auto;
    margin-bottom: 10px;
  }
  
  .job-box-emp .header {
      padding: 20px;
      border-bottom: 2px solid rgba(170, 170, 170, 0.434);
  }
  
  .job-box-emp .header button {
      border: none;
      background: white;
      padding: 10px 15px;
      border-radius: 10px;
  }
  
.job-box-emp .header button:focus ,.job-box-emp .header button:hover {
      background-color:  #1d4354;
      color: white;
  }
  