.login {
    display: flex;
    width: 100%;
    justify-content: center;
}

.login h1 {
    margin-bottom: 20px;
}
.login input {
    width: 300px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #b7b7b7;
    border-radius: 15px;;
    color: rgb(45, 45, 45);
}

.login .vt-inp {
    width: 300px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #b7b7b7;
    border-radius: 15px;;
    color: white;
    background-color: #2C322B;
}

.login .btn-1 {
    background-color: #4285f4;
    border: none;
    border-radius: 35px;
    height: 50px;
    margin-top: 10px;
    width: 300px;
    color: white;
    display: flex;
    align-items: center;
}