@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peralta&display=swap");

header {
  width: 100%;
  height: 100px;
  background-color: #1d4354;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.left h2 {
  color: #3ccf4e;
  font-family: "Secular One", sans-serif;
}

.logo-text {
  color: #3ccf4e;
  font-family: "Secular One", sans-serif;
}

.right button {
  margin-left: 20px;
  padding: 10px 25px;
  border: none;
  border-radius: 35px;
  font-weight: 400;
  background-color: white;
}

.right {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #3ccf4e;
}

.right .btn-1sdf {
  color: #3ccf4e;
  transition: .3s ease;
}

.right .btn-1sdf:hover {
  background-color: #3ccf4e;
  color: white;
}

.right .btn-2ad {
  background-color: #3ccf4e;
  color: white;
  transition: .3s ease;
}

/* .right .btn-2ad:hover {
  background-color: white;
  color: #3ccf4e;
} */

.drop-div {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 15;
}
.drop-div  ul, .drop-div-mgs ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.drop-div   ul .cln , .drop-div-mgs ul .cln {
  position: absolute;
  right: 10px;
  top: 2px;
  transition: .3s ease;
  color: #1d4354;
}

.drop-div   ul .cln:hover, .drop-div-mgs ul .cln:hover {
  transform: rotate(280deg);
}
.drop-div  ul a, .drop-div-mgs ul a {
  background-color: #1d4354;
  color: white;
  margin-top: 0px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border-top: 1px solid;
}

.drop-div-mgs {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.drop-div-mgs ul {
  display: flex;
  flex-direction: column-reverse;
}
.not-ball {
  width: 10px;
  height: 10px;
  background-color: orangered;
  border-radius: 50%;
}

.drop-div-mgs a {
  background-color: #1d4354;
  color: white;
  margin-top: 0px;
  cursor: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border-top: 1px solid;
}

@media (max-width: 650px) {
  .right {
    display: none;
  }
}
