
.adminProfile {
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .leftt {
        width: 25%;
        background-color: white;
        border-radius: 10px;

        .top {
            border-bottom: 1px solid rgb(219, 219, 219);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
        }

        .bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 15px;
        } 
    }

    .right  {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .top {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .l-box {
                background-color: rgb(255, 255, 255);
                width: 40%;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
            }
        }

        .bottom {
            width: 100%;
            display: flex;
            flex-direction: column;

            input {
                border:  none;
                padding: 15px;
                margin-top: 10px;
                border-radius: 10px;
            }

            div {
                display: flex;
                justify-content: space-between;

                input {
                    width: 47%;
                }
            }


        }
    }
    
}


.adminProfile .right .bottom button {
    background-color: #3ccf4e;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}


@media (max-width: 850px) {
    .adminProfile {
        flex-direction: column;
        align-items: center;

        .leftt {
            width: 80%;
            margin-bottom: 20px;
        }

        .right {
            background-color: white;
            width: 80%;
            border-radius: 10px;
            padding: 30px;

            .top {
                .l-box {
                    background-color:  #1d4354;
                    color: white;
                }
            }

            .bottom {
                input {
                    background-color: #c6c6c637;
                }
            }
        }
    }
}



@media (max-width: 780px)  {
.adminProfile {
    .right {
        .top {
            flex-direction: column;
            align-items: center;

            .l-box {
                width: 100%;
                margin-top: 10px;
            }
        }
    }
}
}